@import "./02-generic/generic";
@import "./04-components/nav";

header {
  width: 100%;
  height: 90vh;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .header-center {
    width: 40%;

    text-align: center;
    h1 {
      font-size: 64px;
      font-weight: 500;
      margin-bottom: 30px;
    }
    h5 {
      font-size: 16px;
      line-height: 1.41;
    }
    button {
      width: 150px;
      padding: 12px 24px 11px 25px;
      border-radius: 5px;
      background-color: #000000;
      color: white;
      outline: none;
      cursor: pointer;
      margin-top: 30px;
    }
  }
}
.hero_image-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
}
.hero_image-right {
  position: absolute;
  bottom: 50px;
  right: 0;
  width: 25%;
}
