@import "./02-generic/generic";
@import "./04-components/nav";
@import "./04-components/header";
@import "./04-components/publication";

.feature {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 500px;
  .feature-1 {
    background-color: black;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .feature-2 {
    background-color: #f2f2f2;
    height: 450px;
    display: flex;
    // justify-content: center;
    align-items: center;
  }
  .feature-3 {
    background-color: #fff;
    height: 450px;
    display: flex;
    align-items: center;
  }
  .feature-4 {
    background-color: black;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.feature-1-img {
  background-color: #fff;
  padding: 20px 17px 25px 25px;
  padding-bottom: 30px;
}
.feature-2-content,
.feature-3-content {
  margin-left: 10%;
  height: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h4 {
    font-size: 24px;
    font-weight: bold;
  }
  h5 {
    line-height: 1.41;
    margin-top: 20px;
    font-size: 20px;
    font-weight: normal;
  }
  button {
    width: 180px;
    height: 50px;
    margin: 24px 257.8px 0 0;
    padding: 18px 16.2px 17px 17px;
    border-radius: 5px;
    border: solid 1px #000000;
    cursor: pointer;
  }
}
.feature-3-btn {
  background-color: #fff;
}
.feature-4-img {
  background-color: #525252;
  padding: 20px 17px 25px 25px;
}
